body {
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1200px;
    height: 100vh;
    border: 0.5px solid #277bc0;
  }
  
  .btn {
    display: inline-block;
    background: hsl(205, 78%, 60%);
    color: #277bc0;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .btn:hover {
    background: rgb(6, 49, 80);
    color: hsl(205, 78%, 60%);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    color: #277bc0;
    font-size: 1.3rem;
    border-bottom: 2px solid #277bc0;
    padding: 0 10px;
  }
  
  .categories {
    color: #277bc0;
    text-decoration: underline;
    font-size: 1rem;
  }
  
  .cover {
    border: 2px solid #277bc0;
    height: 450px;
    width: 800px;
  }
  
  .set {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 400px;
    text-align: left;
    padding-left: 10px;
  }
  
  .content {
    width: 400px;
  }
  
  ul {
    list-style: none;
  }
  
  span {
    color: #277bc0;
  }
  